<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://sugar:5432/funato</property>
		<property name="hibernate.connection.username">funato</property>
		<property name="hibernate.connection.password"></property>

		<mapping resource="sample/hibernate3/SimpleMessage.hbm.xml"/>
	</session-factory>
</hibernate-configuration>