grant { 
    //permission java.lang.RuntimePermission "createClassLoader";
    //permission java.lang.RuntimePermission "exitVM";
    permission java.util.PropertyPermission "sun.nio.cs.map", "read";
};