<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int-mqtt="http://www.springframework.org/schema/integration/mqtt"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration/mqtt http://www.springframework.org/schema/integration/mqtt/spring-integration-mqtt.xsd">

    <bean id="clientFactory" class="org.springframework.integration.mqtt.core.DefaultMqttPahoClientFactory">
		<property name="userName" value="${mqtt.username}"/>
		<property name="password" value="${mqtt.password}"/>
	</bean>

	<int-mqtt:message-driven-channel-adapter id="mqttInbound"
		client-id="${mqtt.default.client.id}.src"
		url="${mqtt.url}"
		topics="sometopic"
		client-factory="clientFactory"
		channel="output"/>

</beans>