<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="userInfoProbe" class="kankou.exceldoc.handler.probe.MappingProbe">
     <description>ユーザ情報からXML情報を取得するためのプローブ</description>
     <property name="name"><ref bean="userInfoSheetName"/></property>
     <property name="probes">
       <list>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>名前</value></property>
           <property name="attributeKey"><value>NAME_NAME</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>ｶﾅ</value></property>
           <property name="attributeKey"><value>NAME_KANA</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>ニックネーム</value></property>
           <property name="attributeKey"><value>HANDLENAME_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>担当者名</value></property>
           <property name="attributeKey"><value>TANTOU_NAME_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>メンバー区分</value></property>
           <property name="attributeKey"><value>MEMBER_KIND_SELECT</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>都道府県コード</value></property>
           <property name="attributeKey"><value>PREF_SELECT</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>市町村コード</value></property>
           <property name="attributeKey"><value>CITY_SELECT</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>郵便番号</value></property>
           <property name="attributeKey"><value>ZIP_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>住所</value></property>
           <property name="attributeKey"><value>ADDRESS_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>連絡先_電話番号</value></property>
           <property name="attributeKey"><value>CALL_TEL</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>連絡先_FAX</value></property>
           <property name="attributeKey"><value>CALL_FAX</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>連絡先_MAIL</value></property>
           <property name="attributeKey"><value>CALL_MAIL</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>URL</value></property>
           <property name="attributeKey"><value>URL_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>職業</value></property>
           <property name="attributeKey"><value>JOB_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>年齢</value></property>
           <property name="attributeKey"><value>AGE_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>性別</value></property>
           <property name="attributeKey"><value>GENDER_FLG</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>メモ</value></property>
           <property name="attributeKey"><value>MEMO_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>有効フラグ</value></property>
           <property name="attributeKey"><value>AVAILABLE_FLG</value></property>
           <property name="type"><value>str</value></property>
         </bean>
       </list>
     </property>
  </bean>

  <bean id="basicInfoProbe" class="kankou.exceldoc.handler.probe.MappingProbe">
     <description>基本情報からXML情報を取得するためのプローブ</description>
     <property name="name"><ref bean="basicInfoSheetName"/></property>
     <property name="probes">
       <list>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>ジャンル</value></property>
           <property name="attributeKey"><value>GENRE_SELECT</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>ジャンル</value></property>
           <property name="attributeKey"><value>GENRE_SELECT</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>サブジャンル</value></property>
           <property name="attributeKey"><value>GENRE_SUBSELECT</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>都道府県コード</value></property>
           <property name="attributeKey"><value>PREFCITY_PREF</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>市町村コード</value></property>
           <property name="attributeKey"><value>PREFCITY_CITY</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>市町村名</value></property>
           <property name="attributeKey"><value>PREFCITY_CITYNAME</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>丁目/町名</value></property>
           <property name="attributeKey"><value>ADDRESS_V1</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>街区/大字</value></property>
           <property name="attributeKey"><value>ADDRESS_V2</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>小字</value></property>
           <property name="attributeKey"><value>ADDRESS_V3</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>所番/地番</value></property>
           <property name="attributeKey"><value>ADDRESS_V4</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>ビル名称階数/枝番</value></property>
           <property name="attributeKey"><value>ADDRESS_V5</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>一般名称</value></property>
           <property name="attributeKey"><value>NAME_NAME</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>一般名称ヨミ</value></property>
           <property name="attributeKey"><value>NAME_KANA</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>電話番号</value></property>
           <property name="attributeKey"><value>CALL_TEL</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>ファックス番号</value></property>
           <property name="attributeKey"><value>CALL_FAX</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>メールアドレス</value></property>
           <property name="attributeKey"><value>CALL_MAIL</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>郵便番号</value></property>
           <property name="attributeKey"><value>ZIP_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>URL</value></property>
           <property name="attributeKey"><value>URL_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>新緯度</value></property>
           <property name="attributeKey"><value>COORDINATE_LAT</value></property>
           <property name="type"><value>dob</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>新経度</value></property>
           <property name="attributeKey"><value>COORDINATE_LNG</value></property>
           <property name="type"><value>dob</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>問い合わせ先番号</value></property>
           <property name="attributeKey"><value>INQUIRY_KIND</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>問合せ先名称</value></property>
           <property name="attributeKey"><value>INQUIRY_NAME</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>問合せ先名称ヨミ</value></property>
           <property name="attributeKey"><value>INQUIRY_KANA</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>問合せ先電話番号</value></property>
           <property name="attributeKey"><value>INQUIRY_TEL</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>問合せ先ファックス番号</value></property>
           <property name="attributeKey"><value>INQUIRY_FAX</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>問合せ先メールアドレス</value></property>
           <property name="attributeKey"><value>INQUIRY_MAIL</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>説明文</value></property>
           <property name="attributeKey"><value>DESCRIPTION_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>キーワード</value></property>
           <property name="attributeKey"><value>KEYWORD_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>エリア区分</value></property>
           <property name="attributeKey"><value>PREFCITY_AREA</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>日本観光協会項目番号</value></property>
           <property name="attributeKey"><value>KANREN_ID_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
       </list>
     </property>
  </bean>

  <bean id="additionaInfoProbe" class="kankou.exceldoc.handler.probe.MappingProbe">
     <description>付加情報からXML情報を取得するためのプローブ</description>
     <property name="name"><ref bean="additionalInfoSheetName"/></property>
     <property name="probes">
       <list>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>所要時間</value></property>
           <property name="attributeKey"><value>DURATION_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>大きさ</value></property>
           <property name="attributeKey"><value>SIZE_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>面積</value></property>
           <property name="attributeKey"><value>DIMENSION_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>高さ</value></property>
           <property name="attributeKey"><value>HEIGHT_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>長さ</value></property>
           <property name="attributeKey"><value>LENGTH_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>距離</value></property>
           <property name="attributeKey"><value>DISTANCE_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>幅</value></property>
           <property name="attributeKey"><value>WIDTH_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>外国語対応</value></property>
           <property name="attributeKey"><value>LANG_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>盲導犬受入</value></property>
           <property name="attributeKey"><value>DOG_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>車椅子スロープ</value></property>
           <property name="attributeKey"><value>SLOPE_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>トイレ</value></property>
           <property name="attributeKey"><value>TOILET_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>乳幼児室</value></property>
           <property name="attributeKey"><value>BABY_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>駐車場大型</value></property>
           <property name="attributeKey"><value>PARK_LARGE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>駐車場普通</value></property>
           <property name="attributeKey"><value>PARK_NORMAL</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>駐車場小型</value></property>
           <property name="attributeKey"><value>PARK_SPECIAL</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>開始日付区分</value></property>
           <property name="attributeKey"><value>EVENT_DATE_FROMDIV</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>終了日付区分</value></property>
           <property name="attributeKey"><value>EVENT_DATE_TODIV</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>公開開始年月日</value></property>
           <property name="attributeKey"><value>EVENT_DATE_FROM</value></property>
           <property name="type"><value>dat</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>公開終了年月日</value></property>
           <property name="attributeKey"><value>EVENT_DATE_TO</value></property>
           <property name="type"><value>dat</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>公開時間</value></property>
           <property name="attributeKey"><value>EVENT_TIME_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>営業日</value></property>
           <property name="attributeKey"><value>BUSINESS_DATE_OPEN_DAY</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>営業時間</value></property>
           <property name="attributeKey"><value>BUSINESS_DATE_OPEN_TIME</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>休業日</value></property>
           <property name="attributeKey"><value>BUSINESS_DATE_OPEN_HOLIDAY</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>料金</value></property>
           <property name="attributeKey"><value>CHARGE_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>対応可能言語</value></property>
           <property name="attributeKey"><value>LANG_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>チェックイン</value></property>
           <property name="attributeKey"><value>CHECKIN_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>チェックアウト</value></property>
           <property name="attributeKey"><value>CHECKOUT_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>食事</value></property>
           <property name="attributeKey"><value>MEAL_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>部屋のタイプ(収容人数含む)</value></property>
           <property name="attributeKey"><value>ROOMTYPE_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>付帯施設</value></property>
           <property name="attributeKey"><value>OTHERFACILITIES_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>禁煙ルーム</value></property>
           <property name="attributeKey"><value>NOSMOKEROOM_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>インターネット接続</value></property>
           <property name="attributeKey"><value>INTERNET_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>大浴場</value></property>
           <property name="attributeKey"><value>BATH1_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>個室風呂</value></property>
           <property name="attributeKey"><value>BATH2_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>温泉</value></property>
           <property name="attributeKey"><value>BATH3_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>露天風呂</value></property>
           <property name="attributeKey"><value>BATH4_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>ペット対応</value></property>
           <property name="attributeKey"><value>PET_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>バリアフリー対応</value></property>
           <property name="attributeKey"><value>BARRIERFREE_FLG</value></property>
           <property name="type"><value>boo</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>その他情報</value></property>
           <property name="attributeKey"><value>OTHER_INFO_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>画像ファイル</value></property>
           <property name="attributeKey"><value>IMAGE_FILE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>画像タイプ</value></property>
           <property name="attributeKey"><value>IMAGE_TYPE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>動画URL</value></property>
           <property name="attributeKey"><value>STREAM_URL_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>担当ユーザID</value></property>
			<property name="attributeKey"><value>TANTOU_VALUE</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>公開フラグ</value></property>
			<property name="attributeKey"><value>PUBLISH_FLG</value></property>
			<property name="type"><value>boo</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>季節開始月</value></property>
			<property name="attributeKey"><value>DATE_DIV_FROM_MONTH</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>季節開始区分</value></property>
			<property name="attributeKey"><value>DATE_DIV_FROM_DIV</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>季節終了月</value></property>
			<property name="attributeKey"><value>DATE_DIV_TO_MONTH</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>季節終了区分</value></property>
			<property name="attributeKey"><value>DATE_DIV_TO_DIV</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>段階区分</value></property>
			<property name="attributeKey"><value>DANKAI_DIVISION</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>段階</value></property>
			<property name="attributeKey"><value>DANKAI_DANKAI</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>段階名</value></property>
			<property name="attributeKey"><value>DANKAI_NAME</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>段階その他</value></property>
			<property name="attributeKey"><value>DANKAI_TEXT</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>宿泊施設ＩＤ</value></property>
			<property name="attributeKey"><value>LODGE_ID_VALUE</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>EMPTY_FLG1</value></property>
			<property name="attributeKey"><value>EMPTY_FLG1</value></property>
			<property name="type"><value>boo</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>EMPTY_FLG2</value></property>
			<property name="attributeKey"><value>EMPTY_FLG2</value></property>
			<property name="type"><value>boo</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>EMPTY_FLG3</value></property>
			<property name="attributeKey"><value>EMPTY_FLG3</value></property>
			<property name="type"><value>boo</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>イベント開催時間</value></property>
			<property name="attributeKey"><value>EVENT_DATE_TIME</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>イベントお休み日</value></property>
			<property name="attributeKey"><value>EVENT_DATE_HOLIDAY</value></property>
			<property name="type"><value>str</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>バリアフリー対応</value></property>
			<property name="attributeKey"><value>BARRIERFREE_FLG</value></property>
			<property name="type"><value>boo</value></property>
		</bean>
		<bean class="kankou.exceldoc.handler.probe.Probe">
			<property name="key"><value>料金</value></property>
			<property name="attributeKey"><value>CHARGE_VALUE</value></property>
			<property name="type"><value>str</value></property>
		</bean>
       </list>
     </property>
  </bean>

  <bean id="trafficInfoProbe" class="kankou.exceldoc.handler.probe.MappingProbe">
     <description>交通情報からXML情報を取得するためのプローブ</description>
     <property name="name"><ref bean="trafficInfoSheetName"/></property>
     <property name="probes">
       <list>
         <bean class="kankou.exceldoc.handler.probe.Probe">
           <property name="key"><value>access</value></property>
           <property name="attributeKey"><value>ACCESS_VALUE</value></property>
           <property name="type"><value>str</value></property>
         </bean>
       </list>
     </property>
  </bean>

</beans>
